<DOCTYPE html>
<head>
	<title>Halaman faber</title>
	<style>
		body{
		margin:0;
		padding: 0;
		}
		.wrapper{
			background:#f8f8fa;
			width:100%;
		}
		
		.menu{
		width:100%;
		}
		
		.menu ul li a {
			background:#66c0b7;
			display: block;
			padding: 15px 40px;
			text-decoration:none;
		}
		ul{
			margin:0;
			padding:0;
			list-style:none;
		}
		
		li{
			float:left;
			width:20%;
			text-align:center;
			padding:0;
		}
			
		.row2{
			background:#f8f8fa;
			height:550px;
			text-align:center;
		}
		
		.baris{
			background:#f8f8fa;
			width:20%;
			float:left;
			padding-top:100px;
		}
		
		.row3{
			background:#63ace5;
			text-align:center;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<div class="menu">
			<ul>
				<li><a href="home.html">HOME</a></li>
				<li><a href="profil.html">PROFIL</a></li>
				<li><a href="produk.html">PRODUK</a></li>
				<li><a href="galery.html">GALERY</a></li>
				<li><a href="media.html">MEDIA</a></li>
			</ul>
		</div>
		<div class="row2">
			<div class="baris">
				<img src="faber.jpg" width="150" height="150">
					<p>Faber Castell Rp.85000,00</p><p>discount 10%</p>
			</div>
			<div class="baris">
				<img src="fabercastell.jpg" width="150" height="150">
					<p>Faber Castell Rp.90000,00</p>
					<p>discount 10%</p>
			</div>
			<div class="baris">
				<img src="faber2.jpg" width="150" height="150">
					<p>Faber Castell Rp.100000,00</p>
					<p>discount 15%</p>
			</div>
			<div class="baris">
				<img src="faber3.jpg" width="150" height="150">
					<p>Faber Castell Rp.120000,00</p>
					<p>discount 15%</p>
			</div>
			<div class="baris">
				<img src="faber4.jpg" width="150" height="150">
					<p>Faber Castell Rp.100000,00</p>
					<p>discount 10%</p>
			</div>
		</div>
		<div class="row3">
			<div>
				<ul>
					<p>Copyright @2017 PT.Colour Group<br></p>
					<p>JL Gogor Gang Makam, Surabaya | JL Pahlawan, Kanor, Bojonegoro-Jawa Timur<br></p>
					<p>Hp : 086543134231</p>
				</ul>
			</div>
		</div>
	</div>
</body>